{% comment %}
<div id="visualizacion-movil" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Vizualización movil
		</span>
	</div>
	<div class="span6">
		<div class="data">
			<div class="smartphone">
				<img alt="vizualizacion smartphone" src="">
			</div>
			<div class="tablet">
				<img alt="vizualizacion tablet" src="">
			</div>
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		<p>

		</p>
	</div>
	<div class="clear"></div>
</div>
{% endcomment %}

<div id="viewport" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Etiqueta meta viewport
		</span>
	</div>
	<div class="span6">
		<div id="data-viewport" class="data">
			False
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		<p>

		</p>
	</div>
	<div class="clear"></div>
</div>