<div id="enlaces" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Enlaces en página
		</span>
	</div>
	<div class="span6">
		<div class="data" style="height: 220px;">
			<span id="data-enlaces"></span>
			<div id="graficoEnlaces" style="width: 550px; height: 200px; margin: 0 auto;"></div>
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
	{% comment %}
		<p>{{ descripcion|safe|escape }}</p>
	{% endcomment %}

	</div>
	<div class="clear"></div>
</div>

<div id="backlinks" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Backlinks
		</span>
	</div>
	<div class="span6">
		<div class="data" style="height: 200px;">
			<div id="graficoBacklinks" style="width: 550px; height: 200px; margin: 0 auto;"></div>
		</div>
	</div>
	<div class="span9 box-info box-info-grey">

	</div>
	<div class="clear"></div>
</div>