<div id="w3c" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Validador W3C
		</span>
	</div>
	<div class="span6">
		<div id="data-w3c" class="data">
			<span id="data-w3c-status"></span>: <span id="data-w3c-errors"></span> error(es), <span id="data-w3c-warnings"></span> advertencia(s)
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
	{% comment %}
		<p>
			W3C es un consorcio que determina estándares web. Ejecute el servicio de validación W3C siempre que se produzcan cambios en el código de su sitio web.
		</p>
	{% endcomment %}
	</div>
	<div class="clear"></div>
</div>


<div id="googleAnalytics" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Google™ Analytics
		</span>
	</div>
	<div class="span6">
		<div id="data-googleAnalytics" class="data"></div>

	</div>
	<div class="span9 box-info box-info-grey">
	{% comment %}
		<p>
			Google™ Analytics le permite medir el numero de visitas que recibe su sitio web, se recomineda tener instalada por lo menus una herramienta de analitica web.
		</p>
	{% endcomment %}
	</div>
	<div class="clear"></div>
</div>


<div id="doctype" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Doctype
		</span>
	</div>
	<div class="span6">
		<div id="data-doctype" class="data">
			HTML
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		<p>

		</p>
	</div>
	<div class="clear"></div>
</div>