<div id="alexa-global-rank" class="fila">
	<div class="span3">
		<img id="alexa-traffic" src="">
	</div>
	<div class="span3 margin-top">
		<div class="data-alexa">
			<strong><span id="data-global-rank"></span>º</strong>
		</div>
		<div class="data-info-alexa">
			<span>puesto mundial por visitas.</span>
		</div>
	</div>
	<div class="span3 margin-top">
		<div class="data-alexa">
			<strong>
				<span id="data-country-rank"></span>º
			</strong>
		</div>
		<div class="data-info-alexa">
			<span>más visitado en </span><span id="data-country-name"></span>.
		</div>
	</div>
	<div class="span9 box-info box-info-grey">
		{% comment %}
		<p>
			El Rankig de Alexa™ es una estimación del trafico glabal de su sitio web.
		</p>
		<p>
			Un ranking bajo en Alexa™ significa que su sitio web tiene varias visitas.
		</p>
		{% endcomment %}
	</div>
	<div class="clear"></div>
</div>



{% comment %}
<div id="alexa-back" class="fila">
	<div class="box-value">
		<span class="status"></span>
		<span class="title">
			Alexa™ Backlinks
		</span>
		<span class="data">
			<span id="data-backlinks"></span>
			<br />
		</span>
		<div class="clear"></div>
	</div>
	<div class="box-info box-info-grey">
		<p>
			El número de enlaces a sitios visitados por los usuarios en el panel de tráfico de Alexa.
		</p>
		<p>
			Los enlaces que no fueron vistos por los usuarios en el panel de tráfico Alexa no se cuentan.
		</p>
		<p>
			Múltiples enlaces del mismo sitio sólo se cuentan una vez.
		</p>
	</div>
</div>
{% endcomment %}