<div id="ip" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			IP
		</span>
	</div>
	<div class="span6">
		<div id="data-ip" class="data"></div>

	</div>
	<div class="span9 box-info box-info-grey">
	{% comment %}
		<p>
			La dirección IP de su servidor no tiene mucho efecto sobre su SEO. No obstante, intente alojar su sitio web en un servidor que se encuentre geográficamente cerca de sus visitantes. Los motores de búsqueda tienen en cuenta la situación geográfica del servidor, así como su velocidad.
		</p>
	{% endcomment %}
	</div>
	<div class="clear"></div>
</div>


<div id="span-block" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Bloquear Span
		</span>
	</div>
	<div class="span6">
		<div id="data-span-block"class="data"></div>


	</div>
	<div class="span9 box-info box-info-grey">
		<p>

		</p>
	</div>
	<div class="clear"></div>
</div>