<div class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Facebook
		</span>
	</div>
	<div class="span6">
		<div class="data">
			<span class="social fb-coment">
				Comentarios: <span id="data-fb-coment"></span>
			</span>
			<span class="social fb-like">
				Likes: <span id="data-fb-like"></span>
			</span>
			<span class="social fb-share">
				Compartio: <span id="data-fb-share"></span>
			</span>
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		<p>{{ descripcion_fb }}</p>
	</div>
	<div class="clear"></div>
</div>
<div class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Twitter
		</span>
	</div>
	<div class="span6">
		<div class="data">
			<span class="social twitter-backlinks">
				Backlinks: <span id="data-twitter"></span>
			</span>
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		<p>{{ descripcion_twitter }}</p>
	</div>
	<div class="clear"></div>
</div>
<div class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Google™ +
		</span>
	</div>
	<div class="span6">
		<div class="data">
			<span class="social plus-coment">
				Compartio: <span id="data-plus"></span>
			</span>
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		<p>{{ descripcion_google }}</p>
	</div>
	<div class="clear"></div>
</div>