<div id="favicon" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Favicon
		</span>
	</div>
	<div class="span6">
		<div id="data-favicon" class="data">
			<a target="_blank" rel="nofollow" href="">
				<img src="" alt="favicon" />
			</a>
		</div>

	</div>
	<div class="span9 box-info box-info-grey">
		{% comment %}
		<p>
			Asegúrese de que su favicon es consecuente con su marca.
		</p>
		{% endcomment %}
	</div>
	<div class="clear"></div>
</div>


<div id="dc" class="fila">
	<div class="span1">
		<span class="status"></span>
	</div>
	<div class="span2">
		<span class="title">
			Dublin core
		</span>
	</div>
	<div class="span6">
		<div id="data-dc" class="data"></div>

	</div>
	<div class="span9 box-info box-info-grey">
		{% comment %}
		<p>
			Asegúrese de que su favicon es consecuente con su marca.
		</p>
		{% endcomment %}
	</div>
	<div class="clear"></div>
</div>